.btn {
    border-radius: 25px;
  }
  .btn:hover {
    opacity: 0.8;
  } 
  .modal-title1{
    color: rgb(132, 7, 49);
    font-weight: bold;
  }
  table{
    width: 100%;
    background-color: white;
    box-shadow: 0 0 20px 6px #090b6f85;
    
}

.heading1{
  color: rgb(132, 7, 49);
  font-size: 150%;
    font-weight: 500;
    margin-top: 5%;
    margin-bottom: 1%;
    
}
